<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>
    <a href="/users/dashboard">Go Back to dashboard</a>
    <div class="Head">
        <div class="flex-item-Head"> <img src="../css/images/profile-img.png" alt="" width="40px" height="40px"></div>
        <div class="flex-item-Head"><span>
                <%= user.name %>
            </span></div>
    </div>
    <form action="/users/profileUpdate" method="POST" class="GetInfoForm">

        <input type="hidden" name='id' value=<%=user.id %>>
        <div class="myInputBox">
            <label class="labelFields" for="name">Name</label>
            <input class="inputFields" type="text" name='name' id='name' value=<%=user.name %> required >
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="email">Email</label>
            <input class="inputFields" type="email" name='email' id='email' value=<%=user.email %> required >
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="phone">Phone</label>
            <input class="inputFields" type="text" name='phone' id='phone' value=<%=user.phone %> required >
        </div>

        <div class="myInputBox">
            <label class="labelFields" for="city">City</label>
            <input class="inputFields" type="text" name='city' id='city' value=<%=user.city %> required >
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="state">State</label>
            <input class="inputFields" type="text" name='state' id='state' value=<%=user.state %> required >
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="country">Country</label>
            <input class="inputFields" type="text" name='country' id='country' value=<%=user.country %> required>
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="address">Address</label>
            <input class="inputFields" type="text" name='address' id='country' value=<%=user.address %> required>
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="jobRole">Job Role</label>
            <input class="inputFields" type="text" name='jobRole' id='jobRole' value=<%=user.jobRole %> required>
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="cost">Cost</label>
            <input class="inputFields" type="number" name='cost' id='country' value=<%=user.cost %> required>
        </div>
        <div class="myInputBox">
            <label class="labelFields" for="capacity">Capacity</label>
            <input class="inputFields" type="number" name='capacity' id='country' value=<%=user.capacity %> required>
        </div>
        <input type="submit" value="Save" id="submitProfile">
    </form>

    <div id="Info">


    </div>




</body>

</html>